@import "./styles/reset.css";

.App {
  background-color: var(--primary-bg);
  color: var(--title-color);
  min-height: 100vh;
  font-family: "Roboto";
  font-size: var(--fs-base);
}

.dreamStock {
  min-height: inherit;
}

.body_content {
  min-height: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.p-autocomplete-panel {
  background-color: var(--primary-bg);
  color: var(--title-color);
}

@import "primeflex/primeflex.css";
@import "primereact/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "./styles/variables.css";
